@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">¡Bienvenidos a My Library Neoris!</h1>
    <p>“Amar la lectura es trocar horas de hastío por horas de inefable y deliciosa compañía”. John Fitzgerald Kennedy.</p>
</div>
